/* BASIC SETUP */
@import url('https://fonts.googleapis.com/css2?family=Oldenburg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
  --clr-primary-200: #f1dd8de3;
  --clr-primary-400: #b33b13;

  --clr-neutral-100: #FFF;
  --clr-neutral-500: #d21424;
  --clr-neutral-900: #222C2A;

  --ff-accent: 'Roboto', sans-serif;
  --ff-primary: 'Oldenburg', cursive;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  font-weight: 400;
  font-size: 1.3125rem;
  line-height: 1.6;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

h1,
h2,
h3 {
  color: var(--clr-primary-400);
  font-family: var(--ff-accent);
  font-weight: 900;
  line-height: 1;
}

h2,
h3,
p {
  margin-bottom: 1em;
}

header,
section {
  padding: 4rem 0;
}

cite {
  text-align: center;
}

/* UTILITY CLASSES */
.text-center {
  text-align: center;
}

.container {
  margin-inline: auto;
  width: min(90%, 70.5rem);
}

.container--narrow {
  max-width: 30rem;
}

.bg-light {
  background-color: var(--clr-primary-200);
}

.bg-primary {
  color: var(--clr-neutral-100);
  background-color: var(--clr-primary-400);
}

.bg-dark {
  color: var(--clr-neutral-500);
  background-color: var(--clr-neutral-900);
}

.bg-primary h2,
.bg-dark h2 {
  color: var(--clr-primary-200);
}

.bg-primary cite,
.bg-dark cite {
  color: var(--clr-primary-200);
}

.sig {

  margin-inline: auto;
  width: min(90%, 70.5rem);
}

img {
  display: block;
  max-width: 100%;
}

/* END BASIC SETUP */

/* SECOND PART */
.split {
  display: flex;
  flex-direction: column;
}

@media (min-width: 40em) {

  header,
  section {
    padding: 7rem 0;
  }

  .split {
    flex-direction: row;
  }

  .split > * {
    flex-basis: 100%;
  }

  .split > * + * {
    margin-left: 2em;
  }
}
